<img src="https://reg.src.ku.ac.th/res/image/name_head.png" class="img-fluid"
    alt="...">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4" style="background-color: rgb(66, 116, 79); color: aliceblue;">
                คำถามที่พบบ่อย
            </div>
            <div class="card-body">
                <div class="row">
                    ระเบียบการรับพระราชทานปริญญาบัตร<br />
                    ลงทะเบียนเรียนรับพระราชทานปริญญาบัตร<br />
                    รายงานผลการเรียนตามหลักสูตร/เทียบโอนรายวิชา<br />
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4" style="background-color: rgb(66, 116, 79); color: aliceblue;">
                การจบการศึกษา
            </div>
            <div class="card-body">
                <div class="row">
                    สถานภาพนิสิต<br />
                    ขอใบจบการศึกษา<br />
                    แก้ไขข้อมูลศิษย์เก่า<br />
                    <div class="col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header h4" style="background-color: rgb(66, 116, 79); color: aliceblue;">
                    สมาคมศิษย์เก่า
                </div>
                <div class="card-body">
                    <div class="row">
                        คณะวิทยาศาสตร์ ศรีราชา<br />
                        คณะวิทยาการจัดการ<br />
                        คณะเศรษฐศาสตร์ ศรีราชา<br />
                        คณะวิศวกรรมศาสตร์ศรีราชา<br />
                        คณะพาณิชยนาวีนานาชาติ<br />
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
