<img src="https://www.ku.ac.th/web-upload/filecenter/admin_html4/banner-ku-6-2.png" class="img-fluid" alt="...">
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header h4" style="background-color: rgb(66, 116, 79); color: aliceblue;">
                ที่ตั้งและหน่วยงาน
            </div>
            <div class="card-body">
                <div class="row">
                    มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา<br />
                    99 ถนนสุขุมวิท ตำบลทุ่งสุขลา อำเภอศรีราชา จังหวัดชลบุรี<br />
                    โทรศัพท์ : 0-3835-4580-4 (666103)
                    <div class="col-12">
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
